[submodule "packages/lintnode"]
	path = packages/lintnode
	url = https://github.com/davidmiller/lintnode.git
[submodule "packages/slime"]
	path = packages/slime
	url = git://github.com/technomancy/slime.git
[submodule "packages/python/src/pymacs"]
	path = packages/python/src/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "packages/exec-path-from-shell"]
	path = packages/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "el-get"]
	path = el-get
	url = https://github.com/dimitri/el-get
